<h1>Should I take an umbrella?</h1>

<dl>
  <dt>User location</dt>
  <dd><%= @user_location %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude =></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude =></dd>

  <dt>Current temperature</dt>
  <dd>32.86</dd>

  <dt>Current summary</dt>
  <dd>Partly Cloudy</dd>

  <dt>Umbrella?</dt>
  <dd>You probably won&#39;t need an umbrella.</dd>
</dl>

<a href="/umbrella">Go back</a>
